<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Clientes</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    </head>
    <body>
        <div class="container mx-auto w-25">
            <h1>Lista de Clientes</h1>
            <form th:action="@{clientes}" method="get">
                <label class="col-form-label" for="num_documento">Cliente:</label>
                <select class="form-control" id="num_documento" name="num_documento" required>
                    <th:block th:each="cliente : ${clientes}">
                        <option th:value="${cliente.num_documento}" th:text="${cliente.num_documento}"></option>
                    </th:block>
                </select><br>
                <button type="submit" class="btn btn-secondary">Buscar por cuenta</button>
            </form>


            <div th:if="${nombre != null}">
                <h2>Detalle del Cliente</h2>
                <p>Nombre: <span th:text="${nombre}"></span></p>
                <p>Oficina: <span th:text="${nombreOficina}"></span></p>
                <p>Documento: <span th:text="${numDocumento}"></span></p>
                <p>Saldo: <span th:text="${saldo}"></span></p>
                <p>Tipo de Cliente: <span th:text="${tipoCliente}"></span></p>
                <p>Número de Cuenta: <span th:text="${numCuenta}"></span></p>
                <p>Número de Préstamo: <span th:text="${numPrestamo}"></span></p>
            </div>


            <table class= "table table-hover table-bordered"> 
                <thead class= "thead-dark">
                    <tr>
                        <th>Numero Documento</th>
                        <th>Telefono</th>
                        <th>Nombre</th>
                        <th>Nacionalidad</th>
                        <th>Direccion Fisica</th>
                        <th>Direccion Electronica</th>
                        <th>Departamento</th>
                        <th>Codigo Postal</th>
                        <th>Ciudad</th>
                        <th>Tipo Documento</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <th:block th:each="cliente:${clientes}">
                    <tr>
                        <td th:text="${cliente.num_documento}"></td>
                        <td th:text="${cliente.telefono}"></td>
                        <td th:text="${cliente.nombre}"></td>
                        <td th:text="${cliente.nacionalidad}"></td>
                        <td th:text="${cliente.direccion_fisica}"></td>
                        <td th:text="${cliente.direccion_electronica}"></td>
                        <td th:text="${cliente.departamento}"></td>
                        <td th:text="${cliente.codigo_postal}"></td>
                        <td th:text="${cliente.ciudad}"></td>
                        <td th:text="${cliente.tipo_documento}"></td>
                        <td>
                            <a th:href="@{clientes/{num_documento}/edit(num_documento=${cliente.num_documento})}">
                                Editar
                            </a>
                            <a th:href="@{clientes/{num_documento}/delete(num_documento=${cliente.num_documento})}"
                            onclick="return confirm('¿Esta seguro de borrar este cliente?')">
                                Borrar
                            </a>
                        </td>
                    </tr>
                </th:block>
            </table>
            <div>
                <a th:href="@{/}" class="btn btn-primary">Volver atrás</a>
                <a th:href="@{clientes/new}" class="btn btn-primary">Añadir Cliente</a>
                
            </div>

        </div>
        
        <script src="" async defer></script>
    </body>
</html>