<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar cuenta</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <form th:action="@{'/cuentas/'+${numero_cuenta}+'/edit/save'}" th:object="${cuenta}"
    method="post">
    <div th:replace="~{fragments/cuentaForm :: cuentaForm(titulo='Editar cuenta', cuenta=${cuenta})}">

    </div>
</form>
</body>
</html>