<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Clientes</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    </head>
    <body>
        <div class="container mx-auto w-25">
            <h1>Lista de Gerentes</h1>
            <table class= "table table-hover table-bordered"> 
                <thead class= "thead-dark">
                    <tr>
                        <th>Numero Documento</th>
                        <th>Telefono</th>
                        <th>Nombre</th>
                        <th>Nacionalidad</th>
                        <th>Direccion Fisica</th>
                        <th>Direccion Electronica</th>
                        <th>Departamento</th>
                        <th>Codigo Postal</th>
                        <th>Ciudad</th>
                        <th>Tipo Documento</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <th:block th:each="gerentegeneral:${gerentesgenerales}">
                    <tr>
                        <td th:text="${gerentegeneral.num_documento}"></td>
                        <td th:text="${gerentegeneral.telefono}"></td>
                        <td th:text="${gerentegeneral.nombre}"></td>
                        <td th:text="${gerentegeneral.nacionalidad}"></td>
                        <td th:text="${gerentegeneral.direccion_fisica}"></td>
                        <td th:text="${gerentegeneral.direccion_electronica}"></td>
                        <td th:text="${gerentegeneral.departamento}"></td>
                        <td th:text="${gerentegeneral.codigo_postal}"></td>
                        <td th:text="${gerentegeneral.ciudad}"></td>
                        <td th:text="${gerentegeneral.tipo_documento}"></td>
                        <td>
                            <a th:href="@{gerentesgenerales/{num_documento}/edit(num_documento=${gerentegeneral.num_documento})}">
                                Editar
                            </a>
                            <a th:href="@{gerentesgenerales/{num_documento}/delete(num_documento=${gerentegeneral.num_documento})}"
                            onclick="return confirm('¿Esta seguro de borrar este Gerente General?')">
                                Borrar
                            </a>
                        </td>
                    </tr>
                </th:block>
            </table>
            <div>
            <a th:href="@{/}" class="btn btn-primary">Volver atras</a>
            <a th:href="@{gerentesgenerales/new}" class="btn btn-primary">Añadir Gerente General</a>
            </div>


        </div>
        
        
        <script src="" async defer></script>
    </body>
</html>