<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div class="container mx-auto w-25">
        <form th:action="@{/cuentas/operacioncuentas/save/serializable}" method="post">
            <div class="input-group input-group-sm mb-2 justify-content-center">
                <input class='w-25' id="txtSearch" type="text" name="numero_cuenta" placeholder="Número de Cuenta">
                <input class='w-25' id="txtSearch" type="text" name="cantidad_consignacion" placeholder="Cantidad a Consignar">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-secondary">Realizar la consignación a la cuenta (Serializable)</button>
                </div>
            </div>
        </form>
    <br/>
        <form th:action="@{/cuentas/operacioncuentas/save/readcommitted}" method="post">
            <div class="input-group input-group-sm mb-2 justify-content-center">
                <input class='w-25' id="txtSearch" type="text" name="numero_cuenta" placeholder="Número de Cuenta">
                <input class='w-25' id="txtSearch" type="text" name="cantidad_consignacion" placeholder="Cantidad a Consignar">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-secondary">Realizar la consignación a la cuenta (Read Commited)</button>
                    <a th:href="@{/cuentas}" class="btn btn-primary">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
    
</body>
</html>