<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar operacion bancaria</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <form th:action="@{'/operacionesbancarias/'+${id}+'/edit/save'}" th:object="${operacionbancaria}"
    method="post">
    <div th:replace="~{fragments/operacionbancariaForm :: operacionbancariaForm(titulo='Editar operacion bancaria', operacionbancaria=${operacionbancaria})}">

    </div>
</form>
</body>
</html>