<!DOCTYPE html>
<html>
<head>
    <title>Crear Pide</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />

</head>
<body>
    <br>
    <div class="container border border-2 w-25">
    <h1 class="text-center">Crear Nueva Preferencia</h1>
    <form th:action="@{/pide/new/save}" method="post">

        <label class="col-form-label" for="num_documento">Cliente:</label>
        <select class="form-control" id="num_documento" name="num_documento" required>
            <th:block th:each="cliente : ${clientes}">
                <option th:value="${cliente.num_documento}" th:text="${cliente.nombre}"></option>
            </th:block>
        </select>

        <label class="col-form-label" for="id_prestamo">Prestamo:</label>
        <select class="form-control" id="id_prestamo" name="id_prestamo" required>
            <th:block th:each="prestamo : ${prestamos}">
                <option th:value="${prestamo.id_prestamo}" th:text="${prestamo.id_prestamo}"></option>
            </th:block>
        </select><br>

        <div class="text-center">
            <input type="submit" value="Guardar" class="btn btn-primary">
            <a th:href="@{/clientes}" class="btn btn-primary">Cancelar</a>
            </div>
        </br>
    </form>
    </div>
</body>
</html>