<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prestamos</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <div class="container mx-auto w-25">
        <h1>Lista de Prestamos</h1>
        <table class= "table table-hover table-bordered"> 
            <thead class= "thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Monto</th>
                    <th>Interes</th>
                    <th>Número de cuotas</th>
                    <th>Día pago</th>
                    <th>Valor de cuota</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <th:block th:each="prestamo:${prestamos}">
                <tr>
                    <td th:text="${prestamo.id_prestamo}"></td>
                    <td th:text="${prestamo.monto}"></td>
                    <td th:text="${prestamo.interes}"></td>
                    <td th:text="${prestamo.numero_cuotas}"></td>
                    <td th:text="${prestamo.dia_pago}"></td>
                    <td th:text="${prestamo.valor_cuota}"></td>
                    <td th:text="${prestamo.estado_prestamo}"></td>
                    <td>
                        <a th:href="@{prestamos/{id_prestamo}/edit(id_prestamo=${prestamo.id_prestamo})}">
                            Editar
                        </a>
                        <a th:href="@{prestamos/{id_prestamo}/delete(id_prestamo=${prestamo.id_prestamo})}"
                        onclick="return confirm('¿Esta seguro de borrar este prestamo?')">
                            Borrar
                        </a>
                    </td>
                </tr>
            </th:block>
        </table>
        <div>
        <a th:href="@{/}" class="btn btn-primary">Volver atras</a>
        <a th:href="@{prestamos/new}" class="btn btn-primary">Añadir Prestamo</a>
        </div>


    </div>
    
    <script src="" async defer></script>
    
</body>
</html>